body {
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  background-color: #f8f9fc;
}

html {
  overflow-x: hidden;
}

//Global style

p,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #a2a2a2;
}
button {
  text-transform: capitalize;
}

.cardFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  span {
    color: #a1a1a1;
    font-size: 12px;
  }
}
h1,
h3,
h4 {
  font-weight: 700;
}

h1 {
  color: white;
}

li {
  font-size: 18px;
  font-weight: 500;
}

span {
  font-size: 12px;
}

input,
button {
  outline: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

.container-div {
  max-width: 1300px;
  margin: 0 auto;
  width: 92%;
}

.sec2 {
  // .boxs{
  //   p{
  //     font-size: 8px;
  //     outline: solid red;
  //   }
  // }
}

footer {
  color: white;
  ul {
    text-transform: capitalize;
    li {
      color: white;
      font-size: 16px;
      margin-bottom: 16px;
    }
    h4 {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
}

h3 {
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
}

@media (min-width: 976px) {
  h3 {
    font-size: 56px;
    line-height: 70px;
  }
  footer {
    h4 {
      font-size: 40px;
    }
  }
}
