body {
  font-family: satoshiMedium;
  background-color: #f8f9fc;
}

@font-face {
  font-family: satoshiMedium;
  src: url("./asset/fonts/satoshi/Satoshi-Medium.otf");
}

@font-face {
  font-family: clashDisplayMedium;
  src: url("./asset/fonts/clashDisplay/ClashDisplay-Medium.otf");
}

nav {
  li {
    color: #aac4e6;
  }
}

p,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #a1a1a1;
}

button {
  text-transform: capitalize;
}

.cardFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  span {
    color: #1e5dce;
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: clashDisplayMedium;
  font-weight: 700;
}

h1 {
  color: white;
}

li {
  font-size: 18px;
  font-weight: 500;
}

span {
  font-size: 12px;
}

input,
button {
  outline: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

.container-div {
  max-width: 1300px;
  margin: 0 auto;
  width: 92%;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.content.show {
  height: auto;
  max-height: 999px;
  overflow: hidden;
  transition: 1s;
}

.sec2 {
  h3 {
    position: relative;
    &::before {
      content: url("./asset/icons/crownIcon.svg");
      position: absolute;
      top: -35px;
      left: -35px;
      height: 30px;
      width: 30px;
    }
  }
}

footer {
  color: white;
  ul {
    text-transform: capitalize;
    li {
      color: white;
      font-size: 16px;
      margin-bottom: 16px;
    }
    h4 {
      font-size: 20px;
      margin-bottom: 24px;
    }
  }
}

h3 {
  font-size: 36px;
  line-height: 45px;
  text-transform: capitalize;
}

.react-multi-carousel-track {
  margin: 0 0 100px 0;
  height: 750px !important;
  gap: 0px !important;
}

.react-multi-carousel-dot-list {
  margin-bottom: 20% !important;
  li {
    button {
      background-color: #aac4e6 !important;
    }
  }
  .react-multi-carousel-dot--active {
    button {
      background-color: #004db3!important;
    }
  }
}

@media (min-width: 750px) {
  .react-multi-carousel-dot-list {
    margin-bottom: 10% !important;
  }
}

@media (min-width: 976px) {
  h3 {
    font-size: 50px;
    line-height: 70px;
  }
  footer {
    h4 {
      font-size: 40px;
    }
  }
}
